/*侧边栏公告图标*/
#aside-content .card-announcement .item-headline i:before {
  content: "\f0a1";
}
/*侧边栏公告图标颜色*/
#aside-content .card-announcement .item-headline i {
  color: inherit;
}
/**/
#aside-content .card-info .card-info-social-icons i:hover{
  color: var(--btn-bg);
}
/*--------------------------------------------------------*/
/*header：banner高度*/
#page-header.full_page, /*首页*/
#page-header.post-bg, /*文章页post*/
#page-header.not-home-page { /*分类、归档、标签...以及之下的页面*/
  height: 300px;
  /* background: transparent!important; */
}
#page-header.full_page{
  background-position: 100% 50%;
  background-attachment: inherit;
}
/*header：banner高度设置导致...垂直居中问题*/
#page-header #page-site-info{ /*分类、归档、标签...以及之下的页面*/
  top: 50%;
  transform: translateY(-50%);
}
/*background：页面背景*/
#web_bg{
  
}
/*footer：页脚*/
#footer:before,#footer{
  background: none;
}
#footer-wrap{
  color: var(--font-color);
}
#footer-wrap a{
  color: var(--btn-bg);
}
/*--------------------------------------------------------*/
.layout#content-inner{ /*内容区域，最大宽度1500*/
  max-width: 1500px;
  display: flex;
}
.layout > div:first-child{ /*左侧宽度*/
  flex: 1;
}
@media screen and (min-width: 1300px) { /*侧边栏宽度*/
  #aside-content {
      max-width: 300px;
      min-width: 300px;
  }
}
/*--------------------------------------------------------*/
#aside-content #card-toc .toc-content li .toc-link/*目录标题过长，显示省略号*/{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*---------------------------------------------------*/
/*文章标题*/
#article-container.post-content h1:before, 
#article-container.post-content h2:before, 
#article-container.post-content h3:before, 
#article-container.post-content h4:before, 
#article-container.post-content h5:before, 
#article-container.post-content h6:before{
  content: "\f1ab";
  color: inherit;
}
#article-container.post-content h5:before, 
#article-container.post-content h6:before{
  margin-top: 3px;
}
/*---------------------------------------------------*/
/*头像*/
.avatar-img img{
  /* transition: none; */
}
.avatar-img img:hover{
  transform: scale3d(.5,.5,.8);
}


/*友情连接*/
#article-container .flink .flink-name{
  background-color: var(--tab-button-hover-bg);
  text-align: center;
}
#article-container .flink .flink-desc{
  text-align: center;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon img{
  object-fit: scale-down;
}
